<h2>
	NMBS 
	<small>${direction}</small>
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color auto-size"><span>${station}</span></h3>

<table>
	<tbody>
		{{if entries.length}}
			{{each entries}}
				<tr>
					{{if $value.delay}}
					<td class="time delayed">
						${$value.time}
						<em>${$value.delay}</em>
					</td>
					{{else}}
					<td class="time">
						${$value.time}
					</td>
					{{/if}}
					<td width="40">
					  <span class="label">
					  	${$value.platform.name}
					  </span>
					</td>
					<td class="auto-size">
						<span class="text">
						${$value.direction}
						</span>
					</td>
				</tr>
			{{/each}}
		{{else error}}
			<tr>
				<td>
					<span class="error">Unable to contact the server.</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td>
					<span class="error">No trains available.</span>
				</td>
			</tr>
		{{/if}}
	</tbody>
</table>
