<h2>
	NMBS 
	<small>${direction}</small>
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color">${station}</h3>

<table>
	<tbody>
		{{each entries}}
			<tr>
				{{if $value.delay}}
				<td class="time delayed">
					${$value.time}
					{{if $value.delay}}
						<em>${$value.delay}</em>
					{{/if}}
				</td>
				{{else}}
				<td class="time">
					${$value.time}
				</td>
				{{/if}}
				<td>
					{{if $value.platform.name}}
					<span class="label">${$value.platform.name}</span>
					{{/if}}
				</td>
				<td>
					<span class="text">
					${$value.direction}
					</span>
				</td>
			</tr>
		{{/each}}
	<tbody>
</table>