<h2>
	<img src="turtles/villo/bike.png" alt="De Lijn" height="28px">
    <small>${i18n.bikestations}</small>
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color"><span>${i18n.villo}</span></h3>

<style>
    .turtle #villo td {    
        font-size: 16px;
    }

	.turtle #villo td.available, .turtle #villo td.parked, .turtle #villo td.available-0, .turtle #villo td.parked-0, .turtle #villo td.distance, .turtle #villo td.stationname {
		height: 52px!important;
	}

	.turtle #villo td.available, .turtle #villo td.parked, .turtle #villo td.available-0, .turtle #villo td.parked-0, .turtle #villo td.distance {
		text-align: center;
		vertical-align: bottom;
		padding-bottom: 7px;	
	}
	
	.turtle #villo td.available {
		background: url(turtles/velo/bike.svg);
		width: 60px;
		background-size: 50px 50px;
		background-repeat:no-repeat;
		background-position:center;	
	}
	
	.turtle #villo td.available-0 {
		background: url(turtles/velo/bike-0.svg);
		width: 60px;
		background-size: 50px 50px;
		background-repeat:no-repeat;
		background-position:center;	
	}

	.turtle #villo td.parked {
		background: url(turtles/velo/parked.svg);
		width: 60px;
		background-size: 50px 50px;
		background-repeat:no-repeat;
		background-position:center;	
	}
	
	.turtle #villo td.parked-0 {
		background: url(turtles/velo/parked-0.svg);
		width: 60px;
		background-size: 50px 50px;
		background-repeat:no-repeat;
		background-position:center;	
	}

	.turtle #villo td.distance {
		background: url(turtles/velo/walk.svg);
		background-size: 68px 50px;
		background-repeat:no-repeat;
		background-position:center;
		width: 78px;
	}
</style>

<table id="villo">
	<tbody>
        {{if entries.length}}
			{{each entries}}
                <tr>
                    {{if $value.freebikes != 0}}
						<td class="icon-amount available">
							<span class="amount">
								${$value.freebikes}
							</span>
						</td>
					{{else}}
						<td class="icon-amount available-0">
							<span class="amount">&nbsp;</span>
						</td>
					{{/if}}
                    {{if $value.freespots != 0}}
						<td class="icon-amount parked">
							<span class="amount">
								${$value.freespots}
							</span>
						</td>
					{{else}}
						<td class="icon-amount parked-0">
							<span class="amount">&nbsp;</span>
						</td>
					{{/if}}
                    <td class="icon-amount distance">
                        ${$value.distance}m
                    </td>
                    <td class="stationname">
                        <span>
                            ${$value.name}
                        </span>
                    </td>
                </tr>
            {{/each}}
		{{else error}}
            <tr>
				<td>
					<span class="error">Unable to contact the server.</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td>
					<span class="error">No Villo stations available.</span>
				</td>
			</tr>
		{{/if}}
	</tbody>
</table>