body {
  color: #fff;
  font: 13px/1.5 "Asap", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  background: none repeat scroll 0 0 #FFF;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #fff;
}

p {
}

strong {
  font-weight: 700;
}

#turtles{
    width: 960px;
    margin: auto;
}
.clearfix {display:block; clear:both; font-size:0; height:0; visibility:hidden;}
.turtlecontainer{
    background: #0C78BE;
    width: 300px;
    padding: 2px;
    margin: 10px 10px 5px 5px;
    float:left;
}

header {
 height: 90px;
}

header h1, header h2 { display: none; }

#main {
    text-align: center;
    background: #2057a7; 
}