<h2>
	<img src="turtles/airport/flights.gif" alt="Airport" width="32px" height="32px" />
	<small>${direction}</small>
	<span class="credits">moved by <em>FlatTurtle</em></span>
</h2>

<h3 class="color auto-size"><span>${airport}</span></h3>

<table>
	<tbody>
		{{if entries.length}}
			{{each entries}}
				<tr>
					{{if $value.delay}}
					<td class="time delayed">
						${$value.time}
						<em>${$value.delay}</em>
					</td>
					{{else}}
					<td class="time">
						${$value.time}
					</td>
					{{/if}}
					<td width="85">
						<span class="label">${$value.vehicle}</span>
					</td>
					<td class="auto-size text">
						<span>
						${$value.direction}
						</span>
					</td>
				</tr>
			{{/each}}
		{{else error}}
			<tr>
				<td>
					<span class="error">Unable to contact the server.</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td>
					<span class="error">No planes available.</span>
				</td>
			</tr>
		{{/if}}
	</tbody>
</table>
